 /*

Template: Sam Martin - Personal Vcard Resume HTML Template
Author: potenzaglobalsolutions.com
Version: 1.0 
Design and Developed by: potenzaglobalsolutions.com

NOTE: This is main stylesheet of template, This file contains the styling for the actual Template. Please do not change anything here! write in a custom.css file if required!

*/
 /*================================================
[  Table of contents  ]
================================================

:: General
:: Button 
:: loading
:: Intro bg
:: Header
:: About
:: Service
:: Resume
:: My skill
:: Language-skills 
:: Portfolio
:: Availability Calendar
:: Blog
:: Testimonials
:: Google-map
:: Contact
:: Contact popup
:: : Inner page 
:: : Blog page
:: : Blog signgle page
:: : Portfolio signgle page
:: : Error page

======================================
[ End table content ]
======================================*/
 /*************************
        General
*************************/
 
 html {
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 }
 
 body {
     font-family: 'Open Sans', sans-serif;
     font-weight: normal;
     font-style: normal;
     font-size: 14px;
     margin: 0px;
     color: #2f3742;
 }
 
 a,
 button,
 input {
     outline: medium none !important;
     -webkit-transition: all 0.5s ease-out 0s;
     -moz-transition: all 0.5s ease-out 0s;
     -ms-transition: all 0.5s ease-out 0s;
     -o-transition: all 0.5s ease-out 0s;
     transition: all 0.5s ease-out 0s;
 }
 
 a:focus,
 a:hover {
     outline: medium none !important;
     text-decoration: none;
     -webkit-transition: all 0.5s ease-out 0s;
     -moz-transition: all 0.5s ease-out 0s;
     -ms-transition: all 0.5s ease-out 0s;
     -o-transition: all 0.5s ease-out 0s;
     transition: all 0.5s ease-out 0s;
 }
 
 ol,
 ul {
     padding: 0px;
     margin: 0px;
 }
 
 li {
     list-style: none !important;
 }
 
 p {
     font-size: 14px;
     color: #9ea8b6;
     line-height: 24px;
 }
 /*selection*/
 
 *::-moz-selection {
     background: #000;
     color: #ffffff;
     text-shadow: none;
 }
 
 ::-moz-selection {
     background: #000;
     color: #ffffff;
     text-shadow: none;
 }
 
 ::selection {
     background: #000;
     color: #ffffff;
     text-shadow: none;
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     color: #2f3742;
 }
 
 h1 {
     font-size: 50px;
 }
 
 h2 {
     font-size: 30px;
 }
 
 h3 {
     font-size: 24px;
 }
 
 h4 {
     font-size: 18px;
 }
 
 h5 {
     font-size: 16px;
 }
 
 h6 {
     font-size: 14px;
 }
 /*************************
     button
*************************/

.form-element .btn{
     padding: 10px 30px;
     font-size: 18px;
     border:none;
     border-radius: 3px;
     font-weight: 600;
     background: #F08700;
     color: #ffffff;
     text-transform: uppercase;
     font-family: 'Raleway', sans-serif;
}

.form-element .btn:hover{
    
    color:#F08700;
    background-color:#FFF;
    border-style:none;
}
 
 .button-large {
     padding: 0;
     margin-top: 30px;
 }
 
 .button-large a {
     padding: 10px 30px;
     font-size: 18px;
     border-radius: 3px;
     font-weight: 600;
     background: #F08700;
     color: #ffffff;
     text-transform: uppercase;
     font-family: 'Raleway', sans-serif;
 }
 
 .button-large a:hover {
     background: #fff;
     color:#F08700
 }
 
 .button-small a {
     padding: 8px 15px;
     font-size: 14px;
     border-radius: 3px;
     font-weight: 500;
     background: #07cb79;
     color: #ffffff;
     text-transform: uppercase;
     font-family: 'Raleway', sans-serif;
 }
 
 .button-small a:hover {
     background: #2f3742;
 }
 
 button.button-small {
     padding: 8px 15px;
     display: block;
     font-size: 14px;
     width: 100%;
     margin: 0px;
     border: 0px;
     border-radius: 3px;
     font-weight: 500;
     background: #464e5a;
     color: #ffffff;
     text-transform: uppercase;
     font-family: 'Raleway', sans-serif;
 }
 
 button.button-small:hover {
     background: #07cb79;
 }
 /*******************************************
              loading
*******************************************/
 
 #loading {
     background-color: #000;
     height: 100%;
     width: 100%;
     position: fixed;
     z-index: 1;
     margin-top: 0px;
     top: 0px;
     left: 0px;
     bottom: 0px;
     overflow: hidden !important;
     right: 0px;
     z-index: 999999;
 }
 
 #loading-center {
     width: 100%;
     height: 100%;
     position: relative;
 }
 
 #loading-center-absolute {
     position: absolute;
     left: 50%;
     top: 50%;
     height: 50px;
     width: 50px;
     margin-top: -25px;
     margin-left: -25px;
     -ms-transform: rotate(45deg);
     -webkit-transform: rotate(45deg);
     -o-transform: rotate(45deg);
     transform: rotate(45deg);
     -ms-animation: loading-center-absolute 1.5s infinite;
     -moz-animation: loading-center-absolute 1.5s infinite;
     -o-animation: loading-center-absolute 1.5s infinite;
     -webkit-animation: loading-center-absolute 1.5s infinite;
     animation: loading-center-absolute 1.5s infinite;
 }
 
 .object {
     width: 25px;
     height: 25px;
     background-color: #FFF;
     float: left;
 }
 
 #object_one {
     -webkit-animation: object_one 1.5s infinite;
     -o-animation: object_one 1.5s infinite;
     -moz-animation: object_one 1.5s infinite;
     -ms-animation: object_one 1.5s infinite;
     animation: object_one 1.5s infinite;
 }
 
 #object_two {
     -webkit-animation: object_two 1.5s infinite;
     -o-animation: object_two 1.5s infinite;
     -ms-animation: object_two 1.5s infinite;
     -moz-animation: object_two 1.5s infinite;
     animation: object_two 1.5s infinite;
 }
 
 #object_three {
     -webkit-animation: object_three 1.5s infinite;
     -o-animation: object_three 1.5s infinite;
     -moz-animation: object_three 1.5s infinite;
     -ms-animation: object_three 1.5s infinite;
     animation: object_three 1.5s infinite;
 }
 
 #object_four {
     -webkit-animation: object_four 1.5s infinite;
     -o-animation: object_four 1.5s infinite;
     -moz-animation: object_four 1.5s infinite;
     -ms-animation: object_four 1.5s infinite;
     animation: object_four 1.5s infinite;
 }
 
 @-webkit-keyframes loading-center-absolute {
     100% {
         -webkit-transform: rotate(-45deg);
     }
 }
 
 @keyframes loading-center-absolute {
     100% {
         transform: rotate(-45deg);
         -webkit-transform: rotate(-45deg);
     }
 }
 
 @-webkit-keyframes object_one {
     25% {
         -webkit-transform: translate(0, -50px) rotate(-180deg);
     }
     100% {
         -webkit-transform: translate(0, 0) rotate(-180deg);
     }
 }
 
 @keyframes object_one {
     25% {
         transform: translate(0, -50px) rotate(-180deg);
         -webkit-transform: translate(0, -50px) rotate(-180deg);
     }
     100% {
         transform: translate(0, 0) rotate(-180deg);
         -webkit-transform: translate(0, 0) rotate(-180deg);
     }
 }
 
 @-webkit-keyframes object_two {
     25% {
         -webkit-transform: translate(50px, 0) rotate(-180deg);
     }
     100% {
         -webkit-transform: translate(0, 0) rotate(-180deg);
     }
 }
 
 @keyframes object_two {
     25% {
         transform: translate(50px, 0) rotate(-180deg);
         -webkit-transform: translate(50px, 0) rotate(-180deg);
     }
     100% {
         transform: translate(0, 0) rotate(-180deg);
         -webkit-transform: translate(0, 0) rotate(-180deg);
     }
 }
 
 @-webkit-keyframes object_three {
     25% {
         -webkit-transform: translate(-50px, 0) rotate(-180deg);
     }
     100% {
         -webkit-transform: translate(0, 0) rotate(-180deg);
     }
 }
 
 @keyframes object_three {
     25% {
         transform: translate(-50px, 0) rotate(-180deg);
         -webkit-transform: translate(-50px, 0) rotate(-180deg);
     }
     100% {
         transform: translate(0, 0) rotate(-180deg);
         -webkit-transform: rtranslate(0, 0) rotate(-180deg);
     }
 }
 
 @-webkit-keyframes object_four {
     25% {
         -webkit-transform: translate(0, 50px) rotate(-180deg);
     }
     100% {
         -webkit-transform: translate(0, 0) rotate(-180deg);
     }
 }
 
 @keyframes object_four {
     25% {
         transform: translate(0, 50px) rotate(-180deg);
         -webkit-transform: translate(0, 50px) rotate(-180deg);
     }
     100% {
         transform: translate(0, 0) rotate(-180deg);
         -webkit-transform: translate(0, 0) rotate(-180deg);
     }
 }
 /*************************
     intro-bg
*************************/
 
 .white-bg {
     background: #ffffff;
 }
 
 .page-section {
     padding: 60px 0px;
 }
 
 .page-section-pt {
     padding: 60px 0px 0;
 }
 
 .page-section-pb {
     padding: 0px 0px 60px;
 }
 
 .container-fluid {
     padding: 0px 60px;
 }
 
 .content-scroller {
     margin-left: 230px;
 }
 
 #home {
     background: #000;
 }
 /*************************
    header
*************************/
 
 .menu-responsive {
     display: none;
 }
 
 .navbar {
     overflow-y: scroll;
     overflow-x: hidden;
     height: 100%;
 }
 
 .header {
     position: fixed;
     overflow: visible;
     display: block;
     left: 0px;
     width: 230px;
     height: 100%;
     top: 0px;
     z-index: 999;
     background:#0b0b0b ;
     padding-bottom: 110px;
 }
 /*menu*/
 
 .navbar-collapse {
     height: auto;
     border-top: 0;
     box-shadow: none;
     max-height: none;
     padding-left: 0;
     padding-right: 0;
 }
 
 .navbar-collapse.collapse {
     display: block !important;
     width: auto !important;
     padding-bottom: 0;
     overflow: visible !important;
 }
 
 .navbar-collapse.in {
     overflow-x: visible;
 }
 
 .navbar {
     max-width: 230px;
     margin-right: 0;
     margin-left: 0;
 }
 
 .navbar-nav,
 .navbar-nav > li,
 .navbar-left,
 .navbar-right,
 .navbar-header {
     float: none !important;
 }
 
 .navbar-right .dropdown-menu {
     left: 0;
     right: auto;
 }
 
 .navbar-collapse .navbar-nav.navbar-right:last-child {
     margin-right: 0;
 }
 
 .navbar-header {
     margin: 10px 10px 35px 10px;
 }
 
 .navbar-brand {
     height: inherit;
     color: white !important;
 }
 
 .navbar-brand>img {
     height: 180px;
 }
 
 .navbar-default {
     background: transparent;
     border: 0px;
 }
 
 .navbar-default .navbar-nav > li > a {
     font-size: 14px;
     text-transform: uppercase;
     color: #ffffff;
     font-family: 'Raleway', sans-serif;
     font-weight: 600;
     padding: 10px 15px 10px 30px;
     border-right: 0px solid transparent;
 }
 
 .navbar-default .navbar-nav > li > a:focus,
 .navbar-default .navbar-nav > li > a:hover {
     color: #ffffff;
 }
 
 .navbar-default .navbar-nav>li>a.active,
 .navbar-default .navbar-nav>li>a:hover {
     background: transparent;
     color: #F08700;
     box-shadow: 15px 0px 0px 0px #F08700 inset;
     border-right: 5px solid #F08700;
 }
 
 .navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:focus,
 .navbar-default .navbar-nav > .active > a:hover {
     background: transparent;
     color: #F08700;
     box-shadow: 15px 0px 0px 0px #F08700 inset;
     border-right: 5px solid #F08700;
 }
 
 .navbar-default .navbar-nav>.open>a,
 .navbar-default .navbar-nav>.open>a:focus,
 .navbar-default .navbar-nav>.open>a:hover {
     background: transparent;
     color: #F08700;
 }
 
 .navbar-default .dropdown-menu {
     left: 24px;
     background: #f4f5f6;
     box-shadow: none;
     border: 0px;
 }
 
 .navbar-default .dropdown-menu:before {
     width: 0;
     height: 0;
     border-style: solid;
     border-width: 0 7px 7px 7px;
     border-color: transparent transparent #ffffff transparent;
     position: absolute;
     top: -7px;
     left: 16px;
     content: "";
 }
 
 .navbar-nav>li>.dropdown-menu {
     border-radius: 3px;
 }
 
 .navbar-nav>li>.dropdown-menu li a {
     line-height: 26px;
     font-size: 14px;
 }
 
 .dropdown-menu>li>a:focus,
 .dropdown-menu>li>a:hover {
     background: transparent;
     color: #F08700;
 }
 
 .dropdown-menu>.active>a,
 .dropdown-menu>.active>a:focus,
 .dropdown-menu>.active>a:hover {
     color: #F08700;
     background: transparent;
 }
 /*menu-footer*/
 
 .menu-footer {
     position: absolute;
     bottom: 0px;
     left: 0px;
     right: 0px;
     width: 100%;
     text-align: left;
     margin: 20px 20px 20px 30px;
 }
 
 .menu-footer .social {
     margin-bottom: 14px;
 }
 
 .menu-footer .social ul li {
     display: inline-block;
 }
 
 .menu-footer .social ul li a {
     display: block;
     font-size: 14px;
     padding-right: 15px;
     color: #ffffff;
 }
 
 .menu-footer .social ul li a:hover {
     color: #07cb79;
 }
 
 .menu-footer .copyright p {
     color: #fff;
     font-size: 12px;
     text-transform: uppercase;
     margin-bottom: 0;
 }
 /*************************
          intro-bg
*************************/
 
 .intro-bg {
     background-size: cover !important;
     background-repeat: no-repeat;
     background-position: center;
     bottom;
     position: relative;
     height: 100vh;
     width: 100%;
 }
 
 .intro {
     display: table;
     width: 100%;
     height: 100%;
     position: relative;
 }
 
 .intro-content {
     display: table-cell;
     height: 100%;
     vertical-align: middle;
 }
 
 .content-left {
     padding-left: 7%;
 }
 
 .intro-content h1 {
     font-size: 72px;
     color: #ffffff;
     font-weight: bold;
     text-transform: uppercase;
     font-weight: 700;
     font-family: 'Raleway', sans-serif;
 }
 
 .intro-content h1 span {
     font-size: 30px;
     display: block;
     font-family: 'Raleway', sans-serif;
     font-weight: 600;
 }
 
 #typer {
     height: 40px;
 }
 
 #typer h2 {
     font-size: 28px;
     color: #ffffff;
     font-weight: 600;
     text-transform: uppercase;
     font-family: 'Raleway', sans-serif;
 }
 /*scroll-down*/
 
 .scroll-down {
     text-align: center;
     width: 34px;
     height: 58px;
     display: inline-block;
     border-radius: 20px;
     border: 3px solid #fff;
     position: absolute;
     left: 50%;
     bottom: 60px;
     margin-left: -17px;
     line-height: 50px;
 }
 
 .scroll-down i {
     height: 10px;
     width: 4px;
     background: #fff;
     display: inline-block;
     border-radius: 3px;
     -webkit-animation-name: fadebounce;
     -moz-animation-name: fadebounce;
     -ms-animation-name: fadebounce;
     -o-animation-name: fadebounce;
     animation-name: fadebounce;
     -webkit-animation-duration: 3s;
     -moz-animation-duration: 3s;
     -ms-animation-duration: 3s;
     -o-animation-duration: 3s;
     animation-duration: 3s;
     -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
     -ms-animation-iteration-count: infinite;
     -o-animation-iteration-count: infinite;
     animation-iteration-count: infinite;
 }
 
 @-moz-keyframes fadebounce {
     0% {
         -moz-transform: translateY(0);
         transform: translateY(0);
         opacity: 1;
     }
     50% {
         -moz-transform: translateY(25px);
         transform: translateY(25px);
         opacity: 1;
     }
     100% {
         -moz-transform: translateY(0);
         transform: translateY(0);
         opacity: 1;
     }
 }
 
 @-webkit-keyframes fadebounce {
     0% {
         -webkit-transform: translateY(0);
         transform: translateY(0);
         opacity: 1;
     }
     50% {
         -webkit-transform: translateY(25px);
         transform: translateY(25px);
         opacity: 1;
     }
     100% {
         -webkit-transform: translateY(0);
         transform: translateY(0);
         opacity: 1;
     }
 }
 
 @-o-keyframes fadebounce {
     0% {
         -o-transform: translateY(0);
         transform: translateY(0);
         opacity: 1;
     }
     50% {
         -o-transform: translateY(25px);
         transform: translateY(25px);
         opacity: 1;
     }
     100% {
         -o-transform: translateY(0);
         transform: translateY(0);
         opacity: 1;
     }
 }
 
 @-ms-keyframes fadebounce {
     0% {
         -ms-transform: translateY(0);
         transform: translateY(0);
         opacity: 1;
     }
     50% {
         -ms-transform: translateY(25px);
         transform: translateY(25px);
         opacity: 1;
     }
     100% {
         -ms-transform: translateY(0);
         transform: translateY(0);
         opacity: 1;
     }
 }
 
 @keyframes fadebounce {
     0% {
         transform: translateY(0);
         opacity: 1;
     }
     50% {
         transform: translateY(25px);
         opacity: 1;
     }
     100% {
         transform: translateY(0);
         opacity: 1;
     }
 }
 /*************************
          about
*************************/
 /*section-title*/
 
 .section-title {
     position: relative;
     margin-top:30px;
     display: block;
     margin-bottom: 80px;
 }
 
 .section-title-name {
     position: relative;
     z-index: 9;
 }
 
 .section-title-name h2 {
     font-size: 38px;
     color: #2f3742;
     font-weight: 600;
     margin-top: 4px;
 }
 
 .section-title-name span {
     background: #07cb79;
     display: inline-block;
     font-size: 16px;
     color: #ffffff;
     padding: 6px 20px;
 }
 
 .title-name-gray {
     position: absolute;
     left: 160px;
     top: 0px;
 }
 
 .title-name-gray strong {
     font-size: 100px;
     font-style: italic;
     font-weight: bold;
     color: rgba(247, 248, 249, 0.7);
     margin: 0px;
     line-height: 68px;
 }
 /*block-contact*/
 /*.about{ margin-top: 60px; }*/
 
 .about .section-title {
     margin-bottom: 20px;
 }
 
 .about-social {
     background: #07cb79;
     padding: 15px 10px;
     text-align: center;
 }
 
 .about-social ul {
     padding: 0px;
     margin: 0px;
 }
 
 .about-social ul li {
     display: inline-block;
 }
 
 .about-social ul li a {
     display: block;
     margin: 0px 5px;
     width: 40px;
     height: 40px;
     background: #00b569;
     color: #ffffff;
     line-height: 40px;
     text-align: center;
     border-radius: 50%;
     font-size: 14px;
 }
 
 .about-social ul li a:hover {
     background: #2f3742;
 }
 /*my-contact*/
 
 .my-contact {
     margin-top: 50px
 }
 
 .my-contact .contact-icon {
     float: left;
     margin-right: 25px;
 }
 
 .my-contact .contact-icon span {
     font-size: 30px;
     line-height: 46px;
 }
 
 .my-contact .contact-info {
     display: table-cell;
 }
 
 .my-contact .contact-info h4 {
     font-size: 20px;
     font-weight: bold;
     text-transform: capitalize;
     margin-top: 0px;
     margin-bottom: 5px;
 }
 
 .my-contact .contact-info p {
     font-weight: 600;
     font-size: 16px;
 }
 
 .about-block p {
     margin-top: 30px;
 }
 
 .about-block p {
     font-size: 16px;
     font-style: italic;
     line-height: 30px;
 }
 
 .about-block p b {
     color: #2f3742;
 }
 
 /*************************
          Resume
*************************/
 
 .resume .section-title {
     margin-top:10px;
     margin-bottom: 50px;
 }
 
 .resume .section-title h2 {
     margin-bottom: 0px;
 }
 
 .resume h2 {
     font-weight: 600;
     margin-bottom: 50px;
 }
 
 .resume-block {
     margin-bottom: 50px;
 }
 
 .resume-block .resume-icon {
     float: left;
     margin-right: 30px;
 }
 
 .resume-block .resume-icon span {
     font-size: 40px;
     color: #9ea8b6;
     line-height: 50px;
 }
 
 .resume-block .resume-name {
     display: table-cell;
 }
 
 .resume-block .resume-name h3 {
     margin-top: 0px;
     margin-bottom: 5px;
     color: #07cb79;
     font-weight: 600;
 }
 
 .resume-block .resume-name span {
     color: #9ea8b6;
     font-weight: 600;
     font-size: 18px;
 }
 
 .resume-block .resume-info h3 {
     margin-top: 0px;
     color: #2f3742;
     font-weight: 600;
     margin-bottom: 20px;
 }
 
 .resume-block.clearfix {
     margin-bottom: 0px;
 }
 
 .resume-block.clearfix .resume-info p {
     margin-bottom: 0px;
 }
 /*************************
          my-skill
*************************/
 
 .my-skill .section-title .title-name-gray {
     left: 110px;
 }
 
 .my-skill h2 {
     font-weight: 600;
     margin-top: 0px;
 }
 
 .skill-content span {
     font-weight: 600;
     font-size: 20px;
     color: #9ea8b6;
     line-height: 30px;
     margin-bottom: 30px;
     display: block;
     margin-top: 20px;
 }
 
 .skill-content p {
     border-left: 3px solid #07cb79;
     padding-left: 20px;
     font-style: italic;
 }
 /*skill*/
 
 .skill li {
     position: relative;
     margin-bottom: 55px;
     font-size: 18px;
     text-transform: capitalize;
     color: #9ea8b6;
     font-weight: 600;
 }
 
 .skill .bar_container,
 .bar {
     position: absolute;
     left: 0px;
     height: 14px;
     content: "";
     top: 30px;
 }
 
 .skill .bar_container {
     bottom: 0px;
     width: 100%;
     background-color: transparent;
     text-align: right;
     background: #f8f9fa;
 }
 
 .skill .bar {
     top: 0px;
     background: #07cb79 !important;
 }
 
 .skill .pct {
     position: absolute;
     top: -30px;
     right: 0;
     opacity: 0;
     transition: opacity 0.3s linear;
     color: #9ea8b6 !important;
 }
 /*skill-chart */
 
 .skill-chart {
     margin-top: 80px;
     margin-left: 3px;
 }
 
 .skill-chart .skill-chart-item {
     margin-bottom: 8px;
     height: 45px;
     background: #9ea8b6;
     border-radius: 2px;
     opacity: 0.8;
     overflow: hidden;
     white-space: nowrap;
 }
 
 .skill-chart .skill-chart-item p {
     color: #9ea8b6;
     font-size: 14px;
     line-height: 45px;
     padding-left: 15px;
 }
 
 .skill-chart .skill-chart-expand {
     margin-top: 20px;
 }
 
 .skill-chart .skill-chart-expand:before {
     display: block;
     position: relative;
     content: "";
     width: 100%;
     height: 1px;
     margin-bottom: -10px;
     background: #9ea8b6;
 }
 
 .skill-chart .skill-chart-expand .expand {
     display: inline-block;
     float: left;
     width: 25%;
 }
 
 .skill-chart .skill-chart-expand .expand p {
     color: #9ea8b6;
     font-size: 14px;
 }
 
 .skill-chart .skill-chart-expand .expand:before {
     display: block;
     position: relative;
     content: "";
     width: 1px;
     height: 10px;
     margin: auto;
     margin-bottom: 5px;
     background: #9ea8b6;
 }
 
 .skill-chart .skill-chart-expand .expand.expand-left:before {
     margin-left: 0;
 }
 
 .skill-chart .skill-chart-expand .expand.expand-right {
     text-align: right;
 }
 
 .skill-chart .skill-chart-expand .expand.expand-right:before {
     margin-right: 0;
 }
 
 /*************************
        portfolio
*************************/
 
 .portfolio {
     overflow: hidden;
 }
 
 .isotope-filters {
     display: table;
     margin-bottom: 30px;
     margin-left: 8px;
 }
 
 .isotope-filters button {
     border: none;
     margin: 2px;
     cursor: pointer;
     color: #2f3742;
     font-size: 20px;
     font-weight: 600;
     background: transparent;
     text-transform: capitalize;
     transition: all 0.3s ease-in-out;
     -webkit-transition: all 0.3s ease-in-out;
     -o-transition: all 0.3s ease-in-out;
     -ms-transition: all 0.3s ease-in-out;
     -webkit-transition: all 0.3s ease-in-out;
     padding: 8px 0px;
     box-shadow: 0 3px 0 0 transparent;
 }
 
 .isotope-filters button span {
     color: #2f3742;
     padding: 0px 20px;
 }
 
 .isotope-filters button:focus {
     outline: none;
     outline-style: none;
     outline-offset: 0;
 }
 
 .isotope-filters button.active,
 .isotope-filters button:hover {
     background: transparent;
     color: #07cb79;
 }
 
 .grid-item {
     background: #fff;
     color: #fff;
     width: auto;
     border: 0;
 }
 
 .grid-item img {
     -webkit-transition: transform 0.35s;
     -ms-transition: transform 0.35s;
     -moz-transition: transform 0.35s;
     -o-transition: transform 0.35s;
     transition: transform 0.35s;
     width: 100%;
 }
 
 .full-screen .grid-item {
     padding: 10px 10px;
     width: 25%;
 }
 /*hover portfolio*/
 
 .portfolio-item .item-info a {
     margin: 0;
     padding: 0;
     color: #fff;
     font-weight: 100;
     text-transform: capitalize;
     line-height: 30px;
     margin-bottom: 15px;
     display: block;
     font-size: 24px;
 }
 
 .portfolio-item .item-info a:hover {
     color: #07cb79;
 }
 
 .portfolio-item .item-info span {
     color: #07cb79;
     font-size: 14px;
     text-transform: capitalize;
 }
 
 .portfolio-item .item-info .item-link {
     position: absolute;
     bottom: 20px;
     right: 20px;
 }
 
 .portfolio-item .item-info .item-link a {
     margin-bottom: 0px;
     text-align: center;
     padding: 8px 13px;
     font-size: 16px;
     border-radius: 3px;
     display: inline-block;
     background: #07cb79;
     color: #fff;
     line-height: 24px;
 }
 
 .portfolio-item .item-info .item-link a:hover {
     background: #ffffff;
     color: #07cb79;
 }
 
 .portfolio-item .item-info a span {
     color: #fff;
     transition: all 0.5s ease-in-out;
     -webkit-transition: all 0.5s ease-in-out;
     -o-transition: all 0.5s ease-in-out;
     -ms-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
 }
 
 .portfolio-item .item-info a:hover span {
     color: #07cb79;
 }
 
 .portfolio-item .item {
     -webkit-perspective: 1700px;
     -moz-perspective: 1700px;
     perspective: 1700px;
     -webkit-perspective-origin: 0 50%;
     -moz-perspective-origin: 0 50%;
     perspective-origin: 0 50%;
 }
 
 .portfolio-item .item-hover {
     -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
     transform-style: preserve-3d;
 }
 
 .portfolio-item .item-hover .item-inner {
     overflow: hidden;
 }
 
 .portfolio-item .item-hover img {
     -webkit-transition: -webkit-transform 0.4s;
     -moz-transition: -moz-transform 0.4s;
     transition: transform 0.4s;
 }
 
 .no-touch .portfolio-item .item-hover:hover img,
 .portfolio-item .item-hover.cs-hover img {
     -webkit-transform: translateX(25%);
     -moz-transform: translateX(25%);
     -ms-transform: translateX(25%);
     transform: translateX(25%);
 }
 
 .portfolio-item .item-info {
     position: absolute;
     top: 0;
     left: 0;
     padding: 20px;
     background: #2f3742;
     color: #07cb79;
     height: 100%;
     width: 50%;
     opacity: 0;
     -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
     backface-visibility: hidden;
     -webkit-transform-origin: 0 0;
     -moz-transform-origin: 0 0;
     transform-origin: 0 0;
     -webkit-transform: rotateY(-90deg);
     -moz-transform: rotateY(-90deg);
     transform: rotateY(-90deg);
     -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
     -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
     transition: transform 0.4s, opacity 0.1s 0.3s;
 }
 
 .no-touch .portfolio-item .item-hover:hover .item-info,
 .portfolio-item .item-hover.cs-hover .item-info {
     opacity: 1;
     -webkit-transform: rotateY(0deg);
     -moz-transform: rotateY(0deg);
     transform: rotateY(0deg);
     -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
     -moz-transition: -moz-transform 0.4s, opacity 0.1s;
     transition: transform 0.4s, opacity 0.1s;
 }
 
 .mfp-bg {
     background: rgba(0, 0, 0, 0.6);
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #131b51), color-stop(100%, #e8d4e6));
     background: -webkit-linear-gradient(-315deg, #131b51 0%, #e8d4e6 100%);
     background: -webkit-linear-gradient(45deg, #131b51 0%, #e8d4e6 100%);
     background: linear-gradient(45deg, #131b51 0%, #e8d4e6 100%);
     opacity: 0.8;
     filter: alpha(opacity=80);
 }
 
 /*************************
         testimonials
*************************/
 
 .testimonials-block {
     margin-bottom: 30px;
 }
 
 .testimonials-content {
     background: #f4f5f6;
     padding: 15px;
     position: relative;
     border-radius: 3px;
 }
 
 .testimonials-avtar {
     display: table-cell;
     vertical-align: middle;
 }
 
 .testimonials-avtar img {
     width: 65px;
     border-radius: 50%;
 }
 
 .testimonials-comment {
     display: table-cell;
     padding-left: 30px;
 }
 
 .testimonials-comment p {
     margin-bottom: 0px;
 }
 
 .testimonials-content:before {
     content: "";
     position: absolute;
     left: 40px;
     bottom: -20px;
     width: 0;
     height: 0;
     border-style: solid;
     border-width: 20px 20px 0 0;
     border-color: #f4f5f6 transparent transparent transparent;
 }
 
 .testimonials-name {
     margin-top: 35px;
 }
 
 .testimonials-name h4 {
     color: #07cb79;
     margin-bottom: 5px;
 }
 
 .testimonials-name span {
     color: #2f3742;
     font-size: 13px;
     font-weight: 600;
 }
 /*************************
         google-map
*************************/
 
 .google-map .container-fluid {
     padding-right: 0px;
     padding-left: 0px;
     position: relative;
 }
 
 #google-map {
     padding: 0;
 }
 
 #map-canvas {
     width: 100%;
     height: 900px;
 }
 
 .google-map {
     margin-top: 30px;
 }
 /*************************
        contact
*************************/
 
#contact{
    background-color: #0b0b0b;
    background-size: cover;
    min-height: 100vh;
    -webkit-background-size: cover; /*chrome için*/
    -moz-background-size: cover;
    -o-background-size: cover; 
    padding:120px 0;
    
}

.contact-top h3{
    
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    font-size:40px;
    color:#F4F4F4;
    
}

.contact-top p{
    font-family: 'Noto Serif', serif;
    font-size:16px;
    font-style:italic;
    color:#e9e8e8;
    margin-bottom:75px
}

#name, #email, #subject{  /*isim text alanı bu idye sahip onu böyle düzenliyorum o yüzden*/
    
    width: 90%;
    height: 50px;
    margin-bottom: 25px;
    border-style: none;
    border-radius: 4px;
    padding-left: 20px;
    margin-left: 5%;
}

textarea{
    width: 90%;
    height:202px;
    border-style:none;
    border-radius:4px;
    padding-left: 20px;
    padding-top:10px;
    margin-left:5%;

}

.golden-form-element{
    
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    font-size:14px;
    color:#777;
}


 
 
 /*******************************************
             portfolio signgle page
*******************************************/
 /*port-title*/
 
 .port-title h2 {
     display: table;
     margin-top: 0px;
     margin-bottom: 25px;
 }
 /*tags-2*/
 
 .tags-2 {
     margin-bottom: 30px;
     margin-top: 30px;
 }
 
 .tags-2 h5 {
     display: inline-block;
     margin-bottom: 0px;
     margin-top: 4px;
 }
 
 .tags-2 ul {
     display: inline-block;
 }
 
 .tags-2 li {
     display: inline-block;
     margin-left: 5px;
 }
 
 .tags-2 li a {
     display: block;
     background: #eceff7;
     font-size: 14px;
     color: #626262;
     padding: 2px 10px;
     border-radius: 3px;
 }
 
 .tags-2 li a:hover {
     background: #07cb79;
     color: #fff;
 }
 /*port-meta*/
 
 .port-meta ul {
     margin-bottom: 30px;
 }
 
 .port-meta li {
     margin-bottom: 20px;
     font-size: 16px;
 }
 
 .port-meta li b {
     color: #07cb79;
     width: 200px;
     font-weight: 400;
     width: 100px;
     display: inline-block;
 }
 
 .port-meta li span {
     font-weight: normal;
 }
 
 .port-info p {
     margin-bottom: 0px;
 }
 
 .port-info {
     margin-bottom: 40px;
 }
 
 .port-info .button-small {
     margin-top: 30px;
 }
 /*port-post*/
 
 .port-post {
     background: #eceff7;
     padding: 15px;
     margin-top: 70px;
     margin-bottom: 20px;
 }
 
 .port-post-photo {
     width: 170px;
     display: inline-block;
     float: left;
     margin-right: 20px;
 }
 
 .port-post-photo img {
     width: 100%;
 }
 /*port-post-info*/
 
 .port-post-info {
     padding-left: 190px;
 }
 
 .port-post-info h3 {
     display: inline-block;
     font-size: 24px;
     margin-top: 0px;
     margin-bottom: 20px;
 }
 
 .port-post-info span {
     color: #626262;
 }
 
 .port-post-social strong {
     font-size: 14px;
 }
 
 .port-post-social a {
     color: #626262;
     margin-left: 8px;
     font-size: 14px;
 }
 
 .port-post-social a:hover {
     color: #07cb79;
 }
 /*******************************************
             error page
*******************************************/
 
 .error-bg {
     background-size: cover !important;
     background-repeat: no-repeat;
     background-position: center bottom;
     position: relative;
     height: 100vh;
     width: 100%;
 }
 
 .error {
     display: table;
     width: 100%;
     height: 100%;
     position: relative;
 }
 
 .error-contact {
     display: table-cell;
     height: 100%;
     vertical-align: middle;
 }
 
 .error h1 {
     font-size: 120px;
     color: #fff;
     text-transform: uppercase;
     font-weight: bold;
     margin-top: 0px;
     line-height: 130px;
 }
 
 .error h2 {
     font-size: 50px;
     color: #fff;
     text-transform: uppercase;
     font-weight: bold;
     margin-top: 0px;
     line-height: 50px;
     margin-bottom: 0px;
 }
 
 .error p {
     font-size: 28px;
     color: #fff;
     font-weight: 500;
 }
 
 .error .button a {
     padding: 10px 20px;
     background: rgba(255, 255, 255, 0.3);
     text-transform: capitalize;
     border-radius: 3px;
     color: #fff;
     margin-top: 30px;
     display: inline-block;
 }
 
 .error .button a span {
     padding-right: 10px;
     display: inline-block;
 }
 
 .error .button a:hover {
     color: #2f3742;
 }